.picContainer {
  z-index: 0;
  width: 100rem;
  height: auto;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: rotate(22deg);
  bottom: 10%;
  left: 30%;
  margin: auto;
  overflow: hidden;

  .profilePic {
    width: 100%;
    height: 100%;
    animation: fadeIn 1s 1.8s backwards;
    animation-delay: 1.5s;
  }

  .j {
    z-index: 0;
    width: 34rem;
    height: auto;
    position: absolute;
    top: 12%;
    right: 0%;
    transform: rotateZ(-20deg) !important;
    bottom: 0%;
    left: -25%;
    margin: auto;
    animation: fadeIn 1.3s 1.8s backwards;
    animation-delay: 1.8s;
  }
}


// .logo-container {
//   z-index: 0;
//   width: 400px;
//   height: 609px;
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   right: 15%;
//   bottom: 0;
//   left: auto;
//   margin: auto;

//   svg {
//     width: 100%;
//     height: auto;
//     bottom: 0;
//     transform: rotateZ(30deg) !important;
//   }

//   .solid-logo {
//     position: absolute;
//     top: auto;
//     right: auto;
//     bottom: auto;
//     left: 0;
//     margin: auto;
//     width: 100%;
//     opacity: 0;
//     transform: rotateZ(30deg) !important;
//     z-index: 1;
//   }
// }

// .svg-container {
//   stroke: #E327A1;
//   stroke-width: 10;
// }